name: Build game
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

env:
  BUILD_OUTPUT: ${{ github.event.repository.name }}

jobs:
  build:
    name: Build game
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1

      - name: Setup Playdate SDK
        uses: idleberg/setup-playdate-sdk@b39a6b4a7e44270beaf99e379ffd5648fc9516a2 #3.0.0

      - name: Build
        run: |
          pdc -s source ${{ env.BUILD_OUTPUT }}.pdx
