name: Build and release game
on:
  release:
    types: [published]

env:
  BUILD_OUTPUT: ${{ github.event.repository.name }}

jobs:
  build:
    name: Build game
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #6.0.1

      - name: Setup Playdate SDK
        uses: idleberg/setup-playdate-sdk@b39a6b4a7e44270beaf99e379ffd5648fc9516a2 #3.0.0

      - name: Build and zip
        run: |
          pdc -s source ${{ env.BUILD_OUTPUT }}.pdx
          zip -r -9 ${{ env.BUILD_OUTPUT }}.zip ${{ env.BUILD_OUTPUT }}.pdx

      - name: Upload release
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 #1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./${{ env.BUILD_OUTPUT }}.zip
          asset_name: ${{ env.BUILD_OUTPUT }}-${{ github.ref_name }}.zip
          asset_content_type: application/zip
